<%- include ("partials/header.ejs") %>

<div class="container about">
    <div class="content">
        <h1>About the website</h1>
<p>Embark on a journey of discovery with our travel stories web app, where every click opens the door to captivating narratives from around the globe. Immerse yourself in the vivid descriptions of exotic destinations, curated by seasoned travelers and wanderlust enthusiasts. Whether you seek inspiration for your next adventure or simply wish to wander vicariously through the tales of others, our platform offers a diverse collection of experiences waiting to be explored. From hidden gems off the beaten path to iconic landmarks steeped in history, our stories transport you to far-off lands and ignite the spirit of exploration within you. Join our vibrant community of storytellers and adventurers, and let the magic of travel unfold before your eyes.</p>
    </div>
</div>

<%- include ("partials/footer.ejs") %>
