<%- include ("partials/header.ejs") %>
<div class="px-4 py-5 my-5 text-center">
  <!-- <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
  <h1 class="display-5 fw-bold text-body-emphasis">Travel Stories</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Welcome to Travel Stories. Here you can share more about your adventures with other people and have a small touch to other people's adventures too.</p>
  </div>
</div>


<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2">Top Destinations</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <a href="/Rome" class="nav-link">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg pb-4 pt-4" style="background-image: url('https://cdn.britannica.com/36/162636-050-932C5D49/Colosseum-Rome-Italy.jpg'); background-size: cover;">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="destinationTitle mt-5 mb-5 display-4 lh-1 fw-bold">Rome</h3>
        </div>
      </div>
    </a>
    </div>

    <div class="col">
      <a href="/Paris" class="nav-link">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg pb-4 pt-4" style="background-image: url('https://media.cntraveler.com/photos/58de89946c3567139f9b6cca/16:9/w_2560%2Cc_limit/GettyImages-468366251.jpg');background-size: cover;">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="destinationTitle mt-5 mb-5 display-4 lh-1 fw-bold">Paris</h3>
        </div>
      </div>
    </a>
    </div>

    <div class="col">
      <a href="/Barcelona" class="nav-link">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg pb-4 pt-4" style="background-image: url('https://media.architecturaldigest.com/photos/5cfea4b0c9f2f22721f26766/master/pass/GettyImages-740527937.jpg'); background-size: cover;">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3 class="destinationTitle mt-5 mb-5 display-4 lh-1 fw-bold">Barcelona</h3>
        </div>
      </div>
    </a>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs")%>