<div class="backgr">
<%- include ("partials/header.ejs") %>

<section title="Publications">
  <div class="container-country px-4 py-5">
    <div class="title">
      <h1 class="firstRow">We love</h1>
      <h1 class="secondRow">ITALY</h1>
    </div>
    <div class="container-grid row">
      <div class="posts col-md-8">
        <h3 class="postTitle">Stories</h3>
        <!-- Loop through publications and display them here -->
        <% publications.filter(publication => publication.country === 'Italy').forEach(function(publication) { %>
        <div class="card mb-3 post-content">
          <div class="card-header">
            <!-- Publication title -->
            <h5 class="card-title"><%= publication.fName %></h5>
          </div>
          <div class="card-body">
            <!-- Publication content -->
            <p class="card-text"><%= publication.Story %></p>
          </div>
        </div>
        <% }); %>
      </div>
      </div>
      </div>
</section>
<%- include ("partials/footer.ejs") %>
</div>
