<%- include ("partials/header.ejs") %>

<form action="/submit" method="POST">
    <input type="text" name="fName" placeholder="First name">
    <input type="text" name="Story" placeholder="Story">
    <select id="Countries" name="country">
      <option value="Italy">Italy</option>
      <option value="France">France</option>
      <option value="Spain">Spain</option>
      <option value="Other">Other</option>
    </select>
    <input type="submit" value="OK">
  </form>

<%- include ("partials/footer.ejs") %>