<%- include ("partials/header.ejs") %>

<form action="/submit" method="POST">
    <input type="text" name="fName" placeholder="First name">
    <input type="text" name="Story" placeholder="Story">
    <input type="submit" value="OK">
  </form>

<%- include ("partials/footer.ejs") %>