
footer {
    margin-top: 0; /* take available whitespace */
    margin-bottom: -10px;      /* remove bottom whitespace */
    padding-bottom: 5px;
    height: 100px;            /* calc height when limited content */
    }

.welcomeTitle{
    display: flex;
    justify-content: center;
}

.destinationTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-about{
    min-height: calc(87vh - 100px);
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}

.container-country{
    min-height: calc(87vh - 100px);
    margin-left: 400px;
    margin-right: 400px;
}

/* .footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center; /* optional: center text */