.welcomeTitle{
    display: flex;
    justify-content: center;
}

.destinationTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    max-width: 800px; /* Adjust as needed */
    flex: 1;
}
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center; /* optional: center text */
}
  