footer {
    margin-top: 0; /* take available whitespace */
    margin-bottom: -10px;      /* remove bottom whitespace */
    padding-bottom: 5px;
    height: 100px;            /* calc height when limited content */
    }

.welcomeTitle{
    display: flex;
    justify-content: center;
}

.destinationTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
    min-height: calc(87vh - 100px);
    text-align: center;
    margin-left: 700px;
    margin-right: 700px;
    padding-top: 300px;
}

.country {
    min-height: calc(87vh - 100px);

}

.mainPage{
    min-height: calc(87vh - 100px);
    margin-left: 400px;
    margin-right: 400px;
}

.firstRow{
    display: flex;
    font-size: 30px;   
    font-family: "Pacifico", cursive; 
    justify-content: center;
    padding-right: 150px;
}

.secondRow{
    display: flex;
    font-size: 80px;
    font-family: "Pacifico", cursive; 
    justify-content: center;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the rows horizontally */
  }
  
  .card {
    margin: 10px; /* Add some margin between the cards */
    text-align: justify;
  }
  
  @media (max-width: 767px) {
    .card {
      width: calc(50% - 20px); /* Adjust card width for small screens */
    }
  }
  
.date{
    font-weight: bold;
}

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Container styles */
.container-post {
    min-height: calc(87vh - 100px);
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    padding-top: 150px;
}

/* Heading styles */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

/* Form group styles */
.form-group {
    margin-bottom: 20px;
}

/* Label styles */
label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

/* Input styles */
input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Select arrow styles */
select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

/* Textarea styles */
textarea {
    height: 150px;
}

/* Button styles */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.otherStories{
    display: flex;
    font-size: 45px;
    font-family: "Pacifico", cursive; 
    justify-content: center;
}


.star {
    font-size: 24px;
    cursor: pointer;
    color: gray; /* Default color of unselected stars */
    transition: color 0.3s; /* Smooth color transition */
}

.star.selected {
    color: gold; /* Color of selected stars */
}

.destinations{
    padding-top: 100px;
}

.noPublications{
    text-align: center;
    padding-top: 100px;
}
